<div class="banner-profile">

  <div class="container is-small">

    <p>hello <%= @fullname %></p>

    <% if @recipes.size < 5 %>
    <p>Beginner</p>
    <% end %>

    <div class="list-inline product-controls ">
      <li><%= link_to edit_profile_path do %>
        <i class="fa fa-edit"></i>
        <% end %>
      </li>
    </div>

    <div class="tabs">
      <div class="your-recipes-btn">
        <a class= "tab active" data-target= "#your-recipes">
          <h4>Jouw recepten</h4>
        </a>
      </div>

      <div class="your-favorites-btn">
        <a class= "tab" data-target= "#your-favo">
          <h4>Favorieten</h4>
        </a>
      </div>

    </div>

  </div>
</div>

<div class="container is-small">
  <div class="tab-content" id="your-recipes">
    <%= render @recipes %>

    <% if @recipes.present? %>
      <div class="apple_pagination" id="paginator-my-recipes">
        <%= paginate @recipes, :remote => true, :param_name => :recipes_page %>
      </div>
    <% end %>
  </div>
</div>

<div class="container is-small">
  <div class="tab-content hidden" id="your-favo">
    <%= render @favorites %>

    <% if @favorites.present? %>
      <div class="apple_pagination" id="paginator-my-favo">
        <%= paginate @favorites, :remote => true, :param_name => :favorites_page %>
      </div>
    <% end %>
  </div>
</div>


