<div class="banner-profile">
  <div class="container is-small">
    <h3><%= @fullname %></h3>

    <% if @recipes.size < 5 %>
    <p>Beginner</p>
    <% end %>

    <div class="list-inline product-controls ">
      <li><%= link_to edit_profile_path do %>
        <i class="fa fa-edit"></i>
        <% end %>
      </li>
    </div>
  </div>
</div>

<div class="container is-small sand-color">
    <div class="tabs">
      <div class="your-recipes-btn">
        <a class= "tab active" data-target= "#your-recipes">
          <h4>Jouw recepten</h4>
        </a>
      </div>

      <div class="your-favorites-btn">
        <a class= "tab" data-target= "#your-favo">
          <h4>Favorieten</h4>
        </a>
      </div>

    </div>
</div>

<div class="tab-content" id="your-recipes">
  <div class="container is-small sand-color">
    <% if @recipes.present? %>
     <%= render @recipes %>
    <% else %>
     <h4 class="text-center">Maak je eigen recepten</h4>
    <% end %>
  </div>
    <% if @recipes.present? %>
      <div class="apple_pagination" id="paginator-my-recipes">
        <%= paginate @recipes, :remote => true, :param_name => :recipes_page %>
      </div>
    <% end %>
</div>

<div class="tab-content hidden" id="your-favo">
  <div class="container is-small sand-color">
    <% if @favorites.present? %>
      <%= render @favorites %>
    <% else %>
      <h4 class="text-center">Je hebt nog geen favoriete recepten</h4>
    <% end %>
  </div>
    <% if @favorites.present? %>
      <div class="apple_pagination" id="paginator-my-favo">
        <%= paginate @favorites, :remote => true, :param_name => :favorites_page %>
      </div>
    <% end %>
</div>


