<div class="banner-recipes">
  <div class="index-info">

    <h1>Alle beschikbare recepten</h1>
    <p>Zoek op naam, keuken en gang</p>
     <div class="form-width">
        <%= form_tag recipes_path, method: "get", class: "flex-form" do %>
        <!-- <span class="fa fa-search icon-right"></span> -->
        <%= text_field_tag :search, params[:search], placeholder: "Wat vind je lekker?" %>
        <%= submit_tag("Zoek") %>
        <% end %>
      </div>
  </div>
</div>


<div class="container is-small" id="product-recipe">
  <% if @recipes.present? %>
  <h3 class="text-center">Gevonden resultaten voor <strong><%= params[:search] %></strong></h3>
    <%= render @recipes %>
  <% else %>
    <div class="text-center">
      <h4>Er zijn geen recepten gevonden die de zoekterm <strong><%= params[:search] %></strong> bevatten.</h4>
      <%= link_to "Terug", root_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if @recipes.present? %>
<div class="apple_pagination" id="paginator">
  <%= paginate @recipes, :remote => true %>
</div>
<% end %>


