<%  @kitchen = ['Belgisch', 'Brits', 'Chinees', 'Frans', 'Grieks', 'Indonesisch', 'Indiaas', 'Italiaans', 'Japans', 'Marokkaans', 'Midden-Oosters', 'Mexicaans', 'Nederlands', 'Portugees', 'Scandinavisch' 'Spaans', 'Thais', 'Turks'] %>
<div class="form-background">
  <div class="container is-small new-recipe">

    <div class="text-center">
     <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2>Recept</h2>
        <hr style="width: 20em;">

        <%= simple_form_for([:users, @recipe]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, :label => "Recept naam" %>
        <%= f.input :summary, hint: "max 30 tekens", :label => "Samenvatting" %>
        <%= f.input :course, :label => "Gang", placeholder: "Voor, Na of Hoofdgerecht" %>
        <%= f.input :kitchen, :label => "Keuken", :collection => @kitchen %>
        <br>
        <%= f.input :prep_time, :label => "Voorbereidingstijd" %>
        <%= f.input :cooking_time, :label => "Kooktijd" %>
        <br>
        <div id="ingredients">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Voeg ingrediënt toe', f, :ingredients, class: "btn btn-primary" %>
          </div>
        </div>
        <br>
        <%= f.input :description, :label => "Beschrijving" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>


        <hr style="width: 20em;">
        <%= f.submit "Voeg toe", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
