<%  @kitchen = ['Belgisch', 'Chinees', 'Frans', 'Grieks', 'Indonesisch', 'Indiaas', 'Italiaans', 'Japans', 'Marokkaans', 'Midden-Oosters', 'Mexicaans', 'Nederlands', 'Portugees', 'Spaans', 'Thais', 'Turks', 'Zweeds'] %>
<div class="form-background">
  <div class="container is-small">

    <div class="text-center">
     <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h2>Add/edit a recipe</h2>
        <hr style="width: 20em;">

        <%= simple_form_for([:users, @recipe]) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, :label => "Recept naam", :input_html => {class: 'normal-form', style: 'width: 19em;'} %>
        <%= f.input :summary, hint: "max 30 tekens", :label => "Samenvatting", :input_html => {class: 'normal-form', style: 'width: 19em;'} %>
        <%= f.input :course, :label => "Gang", placeholder: "Voor, Na of Hoofdgerecht", :input_html => {class: 'normal-form', style: 'width: 19em;'} %>
        <%= f.input :kitchen, :label => "Keuken", :collection => @kitchen, :input_html => {class: 'inline-form', style: 'width: 19em;'} %>
        <br>
        <%= f.input :prep_time, :label => "Voorbereidingstijd", :input_html => {class: 'inline-form', style: 'width: 19em;'} %>
        <%= f.input :cooking_time, :label => "Kooktijd", :input_html => {class: 'inline-form', style: 'width: 19em;'} %>
        <br>
        <div id="ingredients">
          <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
          <div class="links">
            <%= link_to_add_association 'Voeg ingrediënt toe', f, :ingredients, class: "btn btn-primary" %>
          </div>
        </div>
        <br>
        <%= f.input :description, :label => "Beschrijving", :input_html => {class: 'normal-form', style: 'width: 19em;'} %>
        <%= f.input :photo, {style: 'width: 20em; margin: 0 auto;'} %>
        <%= f.input :photo_cache, as: :hidden %>


        <hr style="width: 20em;">
        <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
